f5-tts>=1.1
openai-whisper>=20240930
torch>=2.6
torchaudio>=2.6
transformers>=4.50
datasets[audio]>=3.5
accelerate>=1.6
gradio>=5.14
yt-dlp[default]>=3.27
pydub>=0.25
pandas>2
numpy>=1.26
ffmpeg-python
tqdm>=4.67
pytubefix
deepfilternet>=0.5

